.sidebar {
    height: 100vh;
    width: 100vw;
    background-color: var(--color-secondary);
    position: fixed;
    top: 0;
    right: -200%;
    padding: 10px 10px;
    padding-top: 100px;
    transition: all 1s ease-out;
}
.show{
    right: 0;
    transition: all 1s ease-out ;
}
.sidebar > ul {
    padding: 0;
    height: 85%;
    overflow-y: auto;
    row-gap: 10px;
}
.sidebar > ul > li{
    padding: 30px 20px;
    text-align: center;
    color: var(--color-thirty);
    transition: all .4s;
}
.sidebar > ul > li:hover{
    background-color: var(--color-thirty);
    color: var(--color-secondary);
    cursor: pointer;
}
.close_button {
    height: 40px;
    width: 40px;
    background-color: inherit;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    right: 40px;
    transition: all .4s;
}
.close_button > svg {
    color: white;
    height: 100%;
    pointer-events: none;
}
.close_button:hover{
    background-color: var(--color-thirty);
}
.purchase_button{
    height: 50px;
    width: 100%;
    background-color: var(--color-thirty);
    color: white;
    transition: all .5s;
}
.purchase_button:hover{
    background-color: var(--color-first);
}
.empty_cart {
    width: 100%;
    object-fit: contain;
}

@media (min-width: 700px) {
    .sidebar{
        width: 400px;

    }
    
}