.product_cart{
    background-color: var(--color-first);
    border-radius: 10px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}
.product_cart-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: aqua;
}
.product_cart-info {
    width: 50%;
    height: 100%;
}
.product_cart-info > p {
    text-align: center;
    color: white;
}
.product_cart-info> div {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
.product_cart-info> div > p {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}
.product_cart-info> div > button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.product_cart-delete{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--color-thirty);
}