.filter_options{
    overflow: hidden;
    max-height: 40px;
    width: 100%;
    left: 0;
    background-color: var(--color-forty);
    transition: all .2s ease-out;
    position: fixed;
    top: 145px;
    z-index: 10000;
}
.button_filter{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    color: var(--color-first);
    transition: all .4s ease-in-out;
}
.button_filter:hover{
    cursor: pointer;
    color: white;
    background-color: var(--color-secondary);
}
.price_option{
    max-height: 40px;
    transition: all .4s ease-out;
    text-align: center;
    overflow: hidden;
}
.price_option > button{
    position: relative;
    column-gap: 5px;
    height: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--color-thirty);
}
.price_option > form > button {
    margin: 10px 0;
    height: 40px;
    background-color: var(--color-first);
    color: white;
    width: 100px;
}
.category_option{
    max-height: 40px;
    overflow: hidden;
    transition: all 1s ease-in-out;
    background-color: antiquewhite;
    text-align: center;
}
.category_option > button{
    position: relative;
    height: 40px;
    display: flex;
    column-gap: 5px;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--color-thirty);
}
.open{
        max-height: 300px;
        transition: all 1.2s ease-out;
}
.category_option > ul{
    padding: 0px;
    margin: 0px;
}
.category_option > ul > li {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 550px) and (max-width:800px){
    .filter_options{
        top: 130px;
    }
}
@media (min-width: 800px) {
    .filter_options{
        top: 90px;
        width: 200px;
        min-height: 100vh;
        background-color: var(--color-forty);
    }
    .button_filter:hover{
        background-color: var(--color-forty);
        color: var(--color-first);
    }
}