:root {
    --color-first: #15151D;
    --color-secondary: #1F222B;
    --color-thirty: #D31F3A;
    --color-forty: #E4E7EE;
}
*{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
button {
    border: none;
}
body{
    overflow-x: hidden ;
    background-color: var(--color-forty);

}